{% extends 'base.html' %}
{% block title %}Customer List{% endblock title %}

{% block body %}  
<div class="container my-5">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Password</th>
      <th scope="col">Location</th>   
      <th scope="col">Contact</th>     
    </tr>
  </thead>
  <tbody>
  {% for u in user %}
    <tr>
      <td>{{u.user.username}}</td>
      <td>{{u.user.email}}</td>
      <td>{{u.user.first_name}}</td>
      <td>{{u.user.last_name}}</td>
      <td>{{u.user.password}}</td>
      <td>{{u.location}}</td>   
      <td>{{u.contact}}</td>   
      <td><a class="btn btn-info me-2" href="{% url 'profile' %}">Edit</a></td>  
    
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock body %}